@import './variables.css';
@import './typography.css';

/* Basic Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-navy-950);
  color: var(--color-white);
}

/* Base styles for list items */
ul, ol {
  list-style: none;
}

/* Base styles for images */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Base styles for inputs */
input, button, textarea, select {
  font: inherit;
}

/* Mobile (Default) */

.dashboard-grid {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.card {
  border-radius: var(--spacing-200);
  display: flex;
  flex-direction: column;
  background-color: var(--color-navy-900);
  margin: var(--spacing-200);
  
}

.profile-header {
  padding: var(--spacing-200);
  display: flex;
  background-color: var(--color-purple-600);
  border-radius: var(--spacing-200);
  padding: var(--spacing-500);
}

.profile-image {
  width: 4rem;
  height: 4rem;
  border-radius: var(--spacing-500);
  border-color: var(--color-white);
  border-style: solid;
  border-width: 0.125rem;
  margin-right: var(--spacing-300);
}

.profile-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.report-for {
  color: var(--color-navy-200);
}

.profile-body {
  padding: var(--spacing-400) 0;
}

.time-switcher {
  display: flex;
  justify-content: center;
}

.time-switcher li {
  flex-grow: 1;
  text-align: center;
  color: var(--color-purple-500);
}

.time-switcher li.active {
  color: var(--color-white);
}

/* Tablet */
@media (min-width: 48em) {
  
}

/* Desktop */
@media (min-width: 64em) {
  
}
